@mixin buttonStyles() {
  &:hover {
    filter: brightness(90%);
  }

  &:active {
    filter: brightness(80%);
  }
}

@mixin buttonStylesByColor($color) {
  &:hover {
    background-color: darken($color, 10%);
  }

  &:active {
    background-color: darken($color, 20%);
  }
}