$main-accent-color: #0ec261;
$black-color: #121212;
$gray-color: #999;
$gray-light-color: #EEEEEE;
$darken-black: #111518;
$darken-red: #651C29;

$background-admin: #F5F6F8;
$admin-blue-color: #007BFF;
$admin-text-dark: #3D5170;
$admin-text-light: #818EA3;
$admin-text-gray: #5a6169;
$admin-light-gray: #e1e5eb;